html {
  position: relative;
  min-height: 100%;
  font-family: sans-serif;
}

.logo {
  width: 45px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.jumbotron {
  padding-top: 45px;
  padding-bottom: 30px;
}

.headshot {
  width: 100%;
  max-width: 350px;
  min-width: 250px;
}

#myCarousel {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.card-img-top-cs {
  width: 100%;
  height: 40vh;
  object-fit: cover; 
}

.card-img-design {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.card-img-portfolio {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}
