<nav class="navbar navbar-expand-md navbar sticky-top opacity-75 shadow-sm" style="background-color: #abcdef;">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
      <img src="files/logo.png" class="logo d-inline-block align-center" alt="">
      Jessica Kuo
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav p-2">
        <li class="nav-item">
          <a class="nav-link" href="work.html">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="files/jessica_kuo_resume.pdf">Resume</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Projects
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="coding-projects.html">Coding</a></li>
            <li><a class="dropdown-item" href="design-works.html">Graphic Design</a></li>
          </ul>
        </li>
      </ul>
      <u1 class="navbar-nav ms-auto p-2">
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/jesskuo/">LinkedIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/jesskuo">Github</a>
        </li>
      </u1>
    </div>
  </div>
</nav>